# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

Add\ Folder\ Icons.xcodeproj/adh1003.mode1v3
Add\ Folder\ Icons.xcodeproj/adh1003.pbxuser
Add\ Folder\ Icons.xcodeproj/project.xcworkspace/
Add\ Folder\ Icons.xcodeproj/xcuserdata/adh1003.xcuserdatad/
build

